.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Micro 5", system-ui;
    text-align: center;
    font-size: 16px;
}

#dxm {
    font-size: 128px;
}
  